name: Run tests & Check build

on:
  workflow_dispatch:
  pull_request:

jobs:
  deploy-docs:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [ 14.x ]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install Yarn dependencies
        run: yarn install

      - name: Build interfaces
        run: yarn build:interfaces

      - name: Run tests
        run: yarn test

      - name: Run build
        run: yarn build
